
    <ion-header-bar class="bar-stable">
        <button class="button icon ion-navicon-round"></button>
        <h1 class="title">EBD - Escola Bíblica Dominical</h1>
        <button class="button icon ion-gear-a"></button>
    </ion-header-bar>
    <ion-content>
        <!--
        <ion-list>
            <ion-item class="button button-full button-dark icon ion-person-stalker">
                Alunos
            </ion-item>
            <ion-item class="button button-full button-dark icon ion-person-university">
                Classes
            </ion-item>
            <ion-item class="button button-full button-dark icon ion-ios-list-outline">
                Relatórios
            </ion-item>
            <ion-item class="button button-full button-dark icon ion-mail">
                Mensagens
            </ion-item>
        </ion-list>
        -->
        
        <a class="button button-full button-dark icon ion-person-stalker" href='#/ebd/alunos'> Alunos</a>
        <a class="button button-full button-dark icon ion-university" href='#/ebd/classes'> Classes</a>
        <a class="button button-full button-dark icon ion-ios-list-outline" href='#/ebd/relatorios'> Relatórios</a>
        <a class="button button-full button-dark icon ion-email" href='#/ebd/mensagens'> Mensagens</a>
        
    </ion-content>