
    <ion-header-bar class="bar-stable">
        <button class="button icon ion-navicon-round"></button>
        <h1 class="title">EBD - Escola Bíblica Dominical</h1>
        <button class="button icon ion-gear-a"></button>
    </ion-header-bar>
    <ion-content>
        <button class="button button-full button-dark icon ion-person-stalker" href='#/ebd/alunos/'> Alunos</button>
        <button class="button button-full button-dark icon ion-university"> Classes</button>
        <button class="button button-full button-dark icon ion-ios-list-outline"> Relatórios</button>
        <button class="button button-full button-dark icon ion-email"> Mensagens</button>
    </ion-content>